@charset "utf-8";
@import 'breakpoint-mixin.scss';

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body, td, th, p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}

a {
	color: orange;
	text-decoration: none;

	&:hover, &:focus {
		color: #3397db;
		text-decoration: none;
	}

	img {
		border: none 0px #fff;
	}
}


h1, h2, h3, h4, h5, h6 {
	margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

header {
	background-color: #f3f3f3;
}

#maincontent {
	background-color: #f3f3f3;
	min-height: 100%;
}

#footer {
	background-color: #444;
	color: #aaa;
	font-size: 8pt;
	letter-spacing: 1px;
	padding: 25px;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	z-index: 3;
}

// ====================== Navigation ======================
nav {
	width: 100%;
	background-color: #252831;
	background: linear-gradient(to top, lighten(#252831, 10%), #252831 50%, #252831);
	display: flex;
	text-align: center;
	box-shadow: 0 20px 30px -20px rgba(black, 0.75);
	z-index: 2;
	position: relative;
	border-bottom: 1px solid lighten(#252831, 60%);

	h1 {
		//margin: auto;
		line-height: 1.2;
		margin: .6em auto;
	}

	h1 a {
		color: #fff;
		font-size: 14pt;
		font-weight: 200;
		letter-spacing: 10px;
		text-transform: uppercase;
	}
}

#breadcrumb {
	padding: 20px;
	list-style: none;
	background-color: #3397DB;
	background: linear-gradient(to bottom, lighten(#3397DB, 10%), #3397DB 50%, #3397DB);
	border-radius: 0 0 50px 0;
	font-size: 16px;
	line-height: 16px;
	margin: 0;
	position: relative;
	z-index: 3;

	// Display list items side by side
	li {
		display: inline;
		color: darken(#3397DB, 25%);
	}

	// Add a slash symbol (/) before/behind each list item
	li+li:before {
		padding: 8px;
		color: darken(#3397DB, 25%);
		content: "/\00a0";
	}

	// Add a color to all links inside the list
	li a {
		color: white;
		text-decoration: none;
		border-bottom: 1px solid white;
	}

	// Add a color on mouse-over
	li a:hover {
		text-decoration: none;
		border-bottom: 1px solid rgba(white, 0.5);
	}
}


// ====================== Map ======================

#map {
	height: 400px;
	width: 100%;
	background-color: #ccc;
}

// ====================== Restaurant Filtering ======================

.filter-options {
	width: 100%;
	padding: 20px 0;
	background-color: #3397DB;
	background: linear-gradient(to bottom, lighten(#3397DB, 10%), #3397DB 50%, #3397DB);
	border-top: 1px solid lighten(#3397DB, 40%);
	align-items: center;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	h2 {
		color: white;
		font-size: 1rem;
		font-weight: normal;
		line-height: 1;
		margin: 0 10px;

		@include breakpoint(sm) {
			display: inline;
		}
	}

	select {
		background-color: white;
		border: 1px solid #fff;
		font-size: 11pt;
		height: 35px;
		letter-spacing: 0;
		margin: 10px;
		padding: 0 10px;
		width: calc(100% - 20px);

		@include breakpoint(sm) {
			width: 250px;
		}

		@include breakpoint(md) {
			width: 350px;
		}
	}
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
	background-color: #f3f3f3;
	list-style: outside none none;
	margin: 0;
	padding: 30px 15px 60px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;

	li {
		background-color: #fff;
		border: 1px solid #ccc;
		margin: 5px 0;
		min-height: 380px;
		text-align: left;
		width: 100%;
		border-radius: 10px;

		@include breakpoint(sm) {
			width: calc(50% - 20px);
			margin: 10px;
		}

		@include breakpoint(md) {
			width: calc(33% - 20px);
		}

		@include breakpoint(lg) {
			width: calc(25% - 20px);
		}
	}

	.restaurant-img {
		background-color: #ccc;
		display: block;
		margin: 0;
		max-width: 100%;
		min-height: 248px;
		min-width: 100%;
		border-radius: 10px 10px 0 0;
	}

	.info-wrapper {
		padding: 0 30px 20px;
	}

	li h1 {
		color: #f18200;
		font-size: 14pt;
		font-weight: 200;
		letter-spacing: 0;
		line-height: 1.3;
		margin: 20px 0 10px;
		text-transform: uppercase;
	}

	p {
		margin: 0;
		font-size: 11pt;
	}

	li a {
		background-color: orange;
		background: linear-gradient(to bottom, lighten(orange, 20%), orange 60%, orange);
		border-bottom: 3px solid #eee;
		color: #fff;
		display: inline-block;
		font-size: 10pt;
		margin: 15px 0 0;
		padding: 8px 30px 10px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;

		&:hover,
		&:focus {
			border-bottom: 3px solid white;
			background: darken(orange, 4%);
		}
	}
}


/* ====================== Restaurant Details ====================== */

.inside {
	@include breakpoint(sm) {
		#map-container {
			width: 55%;
			height: 100vh;
			position: fixed;
			top: 0;
			right: 0;
			border-left: 1px solid #c5c1c1;
			box-shadow: -20px 0 20px -10px white;
		}

		#map {
			height: 100%;
		}

		#restaurant-container,
		#reviews-container {
			width: 45%;
		}

		#breadcrumb {
			width: 50%;
		}
	}

	@include breakpoint(md) {
		#map-container {
			width: 60%;
		}

		#restaurant-container,
		#reviews-container {
			width: 40%;
		}

		#breadcrumb {
			width: 45%;
		}
	}

	@include breakpoint(lg) {
		#map-container {
			width: 65%;
		}

		#restaurant-container,
		#reviews-container {
			width: 35%;
		}

		#breadcrumb {
			width: 40%;
		}
	}
}

#restaurant-name {
	color: #f18200;
	font-size: 20pt;
	font-weight: 200;
	letter-spacing: 0;
	margin: 15px 0;
	text-transform: uppercase;
	line-height: 1.1;
}

#restaurant-img {
	max-width: 100%;
}

#restaurant-address {
	font-size: 12pt;
	margin: 10px 0px;
}

#restaurant-cuisine {
	background-color: #333;
	color: #ddd;
	font-size: 12pt;
	font-weight: 300;
	letter-spacing: 10px;
	margin: 0 0 20px;
	padding: 2px 0;
	text-align: center;
	text-transform: uppercase;
}

#restaurant-container,
#reviews-container {
	border-bottom: 1px solid #d9d9d9;
	padding: 20px;
}

#reviews-container {
	border-top: 1px solid #fff;
	padding: 20px;
}

#reviews-container h2 {
	color: #f58500;
	font-size: 24pt;
	font-weight: 300;
	margin-bottom: .25em;
}

#reviews-list {
	margin: 0;
	padding: 0;

	li {
		background-color: #fff;
		border: 1px solid #ccc;
		display: block;
		list-style-type: none;
		margin: 0 0 30px;
		overflow: hidden;
		padding: 0 20px 20px;
		position: relative;
		border-radius: 10px;
	}

	li p {
		margin: 0 0 10px;
	}
}

#restaurant-hours td {
	color: #666;
}
